.contact-container {
  align-items: center;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

table {
  background-color: var(--white-color);
  border-collapse: collapse;
  border-radius: var(--border-radius);
  border-spacing: 0;
  box-shadow: var(--box-shadow);
  font-size: var(--font-size-base);
  margin: var(--table-margin);
  overflow: hidden;
  text-align: left;
  width: var(--table-width);
}

th,
td {
  padding: var(--padding-th-td);
}

th {
  background-color: var(--bg-color-th);
  color: var(--white-color);
  font-size: var(--font-size-th);
  font-weight: var(--font-weight-th);
  letter-spacing: var(--letter-spacing-th);
  text-transform: uppercase;
}

tr {
  transition: background-color var(--transition-duration) ease;
}



tr:hover {
  background-color: var(--bg-color-row-hover);
}

td {
  border-bottom: 1px solid var(--border-color-avatar);
  color: var(--font-color-td);
  padding: var(--padding-th-td);
  vertical-align: middle;
}

.avatar-cell {
  align-items: center;
  display: flex;
  width: 10%;
}

.avatar-img,
.initial-circle {
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--border-color-avatar);
  display: flex;
  font-size: calc(var(--avatar-size) / 2);
  height: var(--avatar-size);
  justify-content: center;
  margin-right: var(--avatar-margin-right);
  object-fit: cover;
  width: var(--avatar-size);
}

.initial-circle {
  color: var(--bg-color-table);
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
}

table,
th,
td {
  border: none;
}
