.spinner-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spinner {
  animation: spin 2s infinite linear;
  border-bottom: 6px solid #1a73e8;
  border-left: 6px solid transparent;
  border-radius: 50%;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  height: 48px;
  margin: 40px 0 20px 0;
  width: 48px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
