:root {
  /* Colores */
  --color-background: #f1f3f4;
  --color-primary-bg: #ffffff;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-header-text: #000000;
  --color-hover-bg: #e8f0fe;
  --color-even-row-bg: #f9f9f9;

  /* Tamaños */
  --font-size-header: 16px;
  --border-radius: 8px;
  --table-margin: 20px 0;
  --spinner-size: 40px;
  --form-padding: 30px;
  --container-width: 90%;
  --container-max-width: 1200px;
  --container-max-height: 90vh;

  /* Otros */
  --box-shadow-main: 0 4px 20px var(--color-shadow);
}

body {
  background-color: var(--color-background);
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.main-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--container-width);
  max-width: var(--container-max-width);
  background-color: var(--color-primary-bg);
  box-shadow: var(--box-shadow-main);
  border-radius: var(--border-radius);
  padding: var(--form-padding);
  overflow-y: auto;
  height: auto;
  max-height: var(--container-max-height);
}
