:root {
  --avatar-margin-right: 10px;
  --avatar-size: 40px;
  --bg-color-row-even: #f4f4f4;
  --bg-color-row-hover: #e0f7fa;
  --bg-color-table: #f9f9f9;
  --bg-color-th: #e0e0e0;
  --border-color-avatar: #ddd;
  --border-radius: 10px;
  --bottom-primary-color-hover: #1565c0;
  --bottom-primary-color: #1976d2;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --disabled-bg-color: #c2c2c2;
  --font-color-th: #333;
  --font-size-16px: 16px;
  --font-size-base: 16px;
  --font-size-th: 14px;
  --font-weight-th: 600;
  --group-label-height: 24px;
  --input-border-radius: 8px;
  --input-border-width: 1px;
  --input-height: 40px;
  --input-margin-top: 8px;
  --input-padding: 10px;
  --letter-spacing-th: 1px;
  --padding-button: 10px 20px;
  --padding-th-td: 12px;
  --section-padding: 10px;
  --table-margin: 20px 0;
  --table-width: 95%;
  --transition-duration: 0.3s;
  --white-color: #ffffff;
  --width-input-group: 100%;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-family);
  margin: 0;
}
